//- client/components/profile/profile.jade
template(name='profile')
  //- change of the context, and the inside block will not be rendered,
  //- in case there’s no such property
  +with user
    .profile-left-side
      .panel.panel-default
        .panel-body
          .container-fluid
            .row.row-bottom
              //- the users’ avatar; as a parameter, pass structures
              //- of <key>=<value> type, that will develop into a single object
              //- and become the context of the userAvatar template
              +userAvatar user=this size=200 class='profile-left-side-avatar'
            .row
              //- edit fields for the current user
              +editableField fieldUsername
              +editableField fieldName
              +editableField fieldEmail
      if isHomePage
        +newBoardForm
  .profile-right-side
    h1 Boards
    .row
      +each boards
        .col-xs-6.col-md-4.col-lg-3
          +boardCard
    .row.row-bottom
      .col-xs-12
        +nextPageButton name='boards'
